@charset "UTF-8";
* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #699EBF,#85DEF2);
    
}
main {
    background-color: white;
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(3, 119, 228, 0.582);
    width: 600px;
    padding: 20px;
    margin: 20px auto;
}

h1{
    color: #0D7373;
    text-shadow: 1px 1px 2px #067070;
}

h2 {
    text-align: center;
    color: #65BFAF;
}
p {
    text-align: justify;
}