@charset "UTF-8";

body{
    background-color: #90e0ef;
    font-family: sans-serif;
}

h1{
    color:#0077ff ;
}
#principal{
    text-align: center;
    background-color: #03045e;
    color: white;
}


h2{
    color:#00b4d8 ;

}

.basico{
    color: green ;
    font-weight: bolder;
}

.intermediario{
    color: yellow ;
}

.avancado{
    color: red ;
}

.destaque{
    background-color: #a5a56269;

}